---
# main 
---
@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Slab:wght@700&display=swap&family=Syne:wght@500&display=swap');

html, html[data-theme="light"] {
    --link-color: rgb(0, 112, 201);
    --main-background-color: #fcfcfc;
    --off-background-color: #dfdfdf;
    --main-text-color: #122;
    --darkside-top: 0;
    }
    html[data-theme="dark"] {
    --link-color: rgb( 100, 210, 255);
    --main-background-color: #141a20;
    --off-background-color: #434343;
    --main-text-color: hsl(0, 0%, 85%); 
    --darkside-top: 50%;
}

@media (prefers-color-scheme: dark) {
    html, html[data-theme="dark"] {
    --link-color: rgb( 100, 210, 255);
    --main-background-color: #141a20;
    --off-background-color: #434343;
    --main-text-color: hsl(0, 0%, 85%); 
    --darkside-top: 50%;
        }
    html[data-theme="light"] {
    --link-color: rgb(0, 112, 201);
    --main-background-color: #fdfdfd;
    --off-background-color: #dfdfdf;
    --main-text-color: #111;
    --darkside-top: 0;
      } 
}

// Our variables
$base-font-family: "Merriweather", serif;
$works-font-family: "Merriweather", serif;
$base-font-size:   18px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.9;

$header-font-family: "Syne", serif;

$spacing-unit:     32px;

$text-color:       var(--main-text-color);
$link-color: var(--link-color);
$background-color: var(--main-background-color);
$off-background-color: var(--off-background-color);
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
