---
layout: page
title: Works
permalink: /works/
---

<div class="home page-content">
  <div class="c-checkbox">
    <input onclick="onAdultContentCheckboxClicked(this)" type="checkbox" id="adult_content_checkbox" class="sr-only" name="adult_content" />
    <label for="adult_content_checkbox" class="c-checkbox__label">
      <svg height='16' width='16' class="checkbox-fill">
        <rect class="checkbox-rect" width='16' height='16'></rect>
     </svg>
      Show Adult Content
    </label>
  </div>
  <p><small>By checking this box, you certify you are at or above the age of majority in your home jurisdiction.</small></p>
  <div class="vertical-half-spacer"></div>
  <div id="archives">
    {% for post in site.categories.indices %}
      {% if post.warnings contains 'Sexual Content' %}
        <div class="filtered">
      {% else %}
        <div>
      {% endif %}
        <div class="section-divider"></div>
        <div class="vertical-spacer"></div>
        {% include work_info_card.html hideTitle='false' %}
        <div class="vertical-spacer"></div>
      </div>
    {% endfor %}
  </div>
</div>