<footer class="site-footer">
  <div class="wrapper">
      <div class="footer-contact">
        <a href="/license"><p>License</p></a>
        <a href="/code-of-conduct"><p>Code of Conduct</p></a>
        <a href="/privacy-policy"><p>Privacy Policy</p></a>
        <a  href="mailto:{{ site.email }}">{{ site.email }}</a>
      </div>
      <div class="footer-notice">
        <p>&copy; 2024 Canonicity</p>
        <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">
          <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" />
        </a>
      </div>
    </div>

  </div>

</footer>
