<header class="site-header">

  <div class="wrapper">
    <div class="logo-wrapper">
      <a href="{{ '/' | prepend:site.baseurl}}" class="site-logo-container">
        <img class="nav-logo" src="../images/c8y_logo_1x.png" alt="Canonicity logo" />
      </a>
      <div id="theme-toggle" onclick="modeSwitcher();">
        <div id="theme-toggle-center">
          <div id="theme-toggle-darkside"></div>
        </div>
        <div id="theme-toggle-orbit">
          <div id="theme-toggle-planet"></div>
        </div>
      </div>
    </div>
    <nav class="site-nav">
      <a href="#" class="menu-icon">
        <svg viewBox="0 0 18 15">
          <path fill="#424242" d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0 h15.031C17.335,0,18,0.665,18,1.484L18,1.484z"/>
          <path fill="#424242" d="M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0c0-0.82,0.665-1.484,1.484-1.484 h15.031C17.335,6.031,18,6.696,18,7.516L18,7.516z"/>
          <path fill="#424242" d="M18,13.516C18,14.335,17.335,15,16.516,15H1.484C0.665,15,0,14.335,0,13.516l0,0 c0-0.82,0.665-1.484,1.484-1.484h15.031C17.335,12.031,18,12.696,18,13.516L18,13.516z"/>
        </svg>
      </a>

      <div class="trigger">
        {% for my_page in site.pages %}
          {% if my_page.title %}
            {% unless my_page.title == "Home" %}
            <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
            {% endunless %}
          {% endif %}
        {% endfor %}
        <a class="page-link" href="https://wiki.canonicity.org" target="_blank">Wiki
          <svg class="nav-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="18" height="18"><path fill="none" d="M0 0h24v24H0z"/><path d="M10 3v2H5v14h14v-5h2v6a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h6zm7.707 4.707L12 13.414 10.586 12l5.707-5.707L13 3h8v8l-3.293-3.293z"/></svg>
        </a>
      </div>
    </nav>

  </div>

</header>
