{% if include.hideTitle != 'true' %}
    {% if post.oneshot %}
        {% for post in site.categories[post.work_category] limit:1 %}
            <a href="{{ post.url }}"><i><h1 style="margin-bottom: 4px;">{{ post.title }}</h1></i></a>
        {% endfor %}
    {% else %}
        <a href="{{ post.url }}"><i><h1 style="margin-bottom: 4px;">{{ post.title }}</h1></i></a>
    {% endif %}
{% endif %}

{% if post.social %}
    {% if post.author %}
        <p style="margin-bottom: 0; line-height: 40px; font-size: 22px;">By <a href="{{ post.social }}" target="_blank">{{ post.author }}</a></p>
    {% endif %}
{% else %}
    {% if post.author %}
        <p style="margin-bottom: 0; line-height: 32px;">By {{ post.author }}</p>
    {% endif %}
{% endif %}

{% assign wordCount = 0 %}
{% for post in site.categories[post.work_category] %}
    {% assign postWordCount = post.content | number_of_words %}
    {% assign wordCount = wordCount | plus: postWordCount %}
{% endfor %}

<div class="work-detail-row">
    {% if post.oneshot %}
        <p class="post-meta"><i>1 Chapter</i> • <i>{{ wordCount }} Words</i></p>
    {% else %}
        {% assign chapterCount = site.categories[post.work_category].size %}
        <p class="post-meta"><i>{{chapterCount}} {% if chapterCount == 1 %}Chapter{% else %}chapters{% endif %}</i> • <i>{{ wordCount }} Words</i></p>
    {% endif %}
</div>
<div class="vertical-half-spacer"></div>

{% if include.hideTitle != 'true' and post.tagline %}
    <blockquote class="work-tagline">{{ post.tagline | markdownify }}</blockquote>
{% endif %}

{% if post.rating %}
<div class="work-detail-row">
    <p class="work-detail-label">RATING</p>
    <p class="work-detail-item">{{ post.rating }}</p>
</div>
{% endif %}

{% if post.warnings %}
<ul class="warnings-list">
    <p class="work-detail-label">WARNINGS</p>

    {% for warning in post.warnings %}
    <li>{{ warning }}</li>
    {% endfor %}

</ul>
{% endif %}

{% if post.tags %}
<ul class="tags-list">
    <p class="work-detail-label">ADDITIONAL TAGS</p>

    {% for tag in post.tags %}
    <li>{{ tag }}</li>
    {% endfor %}

</ul>
{% endif %}