/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
 html {
    background-color: $background-color;
 }

body {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}

b {
    font-weight: 700;
}

strong {
    font-weight: 700;
}

a {
    color: $link-color; 
}

a:visited {
    color: $link-color; 
}

/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}

.nav-logo {
    width: 48px;
    height: 48px;
    margin-top: 7px;
    margin-left: 2px;
    border-radius: 24px;
}


/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2 {
    font-family: $header-font-family, sans-serif;
    line-height: 1.2;
    font-weight: normal;
}

h3, h4, h5, h6 {
    font-family: $header-font-family, sans-serif;
    line-height: 1.2;
}

/**
 * Links
 */
a {
    color: $link-color;

    &:hover {
        color: $text-color;
        text-decoration: underline;
    }
}



/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}



/**
 * Wrapper
 */
.wrapper {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}

/**
* Forms
*/
label {
    user-select: none;
}

.sr-only {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.c-checkbox__label {

    &:before {
        content: "";
        display: inline-block;
        width: 20px;
        height: 20px;
        border: 2px solid $text-color;
        margin-right: 8px;
        margin-bottom: -6px;
    }

    svg {
        z-index: 1000;
        .checkbox-rect {
            fill: transparent;
        }
    }
}

.checkbox-fill {
    margin-left: -32px;
    margin-bottom: -3px;
    margin-right: 12px;
}

.c-checkbox input:checked + .c-checkbox__label {
    svg {
        margin-bottom: -2px;
        z-index: 1000;
        .checkbox-rect {
            fill: $link-color;
        }
    }
}

.c-checkbox input:checked + .c-checkbox__label:before {
    border-color: $link-color;
    
}

.chapter-list {
    list-style-type: none;
    margin-left: 0;
}