/**
 * Site header
 */
.site-header {
    //border-bottom: 3px solid $text-color;
    // border-bottom: 1px solid $text-color;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-logo-container {
    float: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 48px;
    width: 48px;
    background-color: #fdfdfd;
    border-radius: 24px;
    margin-top: 12px;
}

.logo-wrapper {
    float: left;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.filtered {
    display: none;
}

#theme-toggle {
    width: 44px;
    height: 48px;
    margin-top: 10px;
    margin-left: 10px;
    position: relative;
    rotate: 90deg;
    cursor: pointer;

    #theme-toggle-center {
        position: absolute;
        overflow: hidden;
        top: 11px;
        left: 11px;
        width: 18px;
        height: 18px;
        border: 2px solid $text-color;
        border-radius: 12px;
    }

    #theme-toggle-darkside {
        position: absolute;
        top: var(--darkside-top);
        left: 0;
        width: 18px;
        height: 9px;
        background-color: $text-color;
    }

    #theme-toggle-orbit {
        width: 44px;
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #theme-toggle-planet {
        width: 8px;
        height: 8px;
        margin-top: -20px;
        background-color: $link-color;
        border-radius: 4px;
        z-index: 10000;
    }

    .dark {
        rotate: -180deg;
    }

    .light {
        rotate: 0deg;
    }

    .dark-animated {
        animation-name: rotateCW;
        animation-duration: 0.2s;
        animation-fill-mode: forwards;
    }

    .light-animated {
        animation-name: rotateCCW;
        animation-duration: 0.2s;
        animation-fill-mode: forwards;
    }
      
    @keyframes rotateCW {
        0% {
            transform: rotate(0);
        }
        100% {
            transform: rotate(-180deg);
        }
    }

    @keyframes rotateCCW {
        0% {
            transform: rotate(180deg);
        }
        100% {
            transform: rotate(-0deg);
        }
    }
}

.site-nav {
    float: right;
    line-height: 56px;
    font-family: 'Merriweather Sans', sans-serif;
    margin-top: 10px;

    .menu-icon {
        display: none;
    }

    .nav-icon {
        fill: $text-color;
        margin-bottom: -2px;
        margin-left: -4px;
    }

    .page-link {
        //color: $text-color;
        line-height: $base-line-height;
        text-transform: uppercase;
        font-weight: 700;
        text-decoration: none;

        // Gaps between nav items, but not on the last one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    a {
        font-family: 'Roboto Slab', sans-serif;
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        //border: 1px solid $grey-color-light;
        border-radius: 0;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $text-color;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }

    }
}

/**
 * Site footer
 */
.site-footer {
    padding: $spacing-unit 0;
    color: $grey-color;
}

.footer-contact {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    float: left;
    a {
        text-decoration: none;
    }

    a > p {
        margin-bottom: 0;
    }
}

.footer-notice {
    font-size: 14px;
    text-align: right;
    font-family: 'Roboto Condensed', sans-serif;
    float: right;
    p {
        margin-bottom: 0;
    }
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.section-divider {
    height: 2px;
    width: 256px;
    background-color: $text-color;
    margin: 0 auto;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

.vertical-spacer {
    height: $spacing-unit;
}

.vertical-half-spacer {
    height: calc(#{$spacing-unit} / 2);
}

.post-nav {
    display: flex;

    .nav-icon {
        margin-top: 2px;
        fill: $text-color;
    }
}

.previous-post {
    flex: 1 1 auto;
    min-width: 0;

    .label {
        text-transform: uppercase;
    }

    .previous-link {
        padding-left: 20px;
    }

    p, a {
        margin-bottom: 0px !important;
        margin-top: 8px !important;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}

.next-post {
    flex: 1 1 auto;
    min-width: 0;
    text-align: right;

    .label {
        text-transform: uppercase;
    }

    .next-link {
        padding-right: 20px;
    }

    p, a {
        margin-bottom: 0px !important;
        margin-top: 8px !important;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}

/**
 * Page content
 */
.hero-header {
    margin-bottom: $spacing-unit;
}

.hero-frontpage {
    height: 352px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
}

.hero-title {
    font-size: $base-font-size * 3.0;
    font-weight: 500;
    text-transform: uppercase;
    line-height: $base-font-size * 3.0;
    font-family: $header-font-family, sans-serif;
}

.post-title {
    font-size: 44px;
}

.hero-frontpage-title {
    text-align: center;
    font-size:  100px; 
    line-height: 100px;
    margin-left: auto;
    margin-right: auto;

    @include media-query($on-laptop) {
        font-size: $base-font-size * 4.0;
        line-height: $base-font-size * 4.0;
    }

    @include media-query($on-palm) {
        font-size: 14vw;
        letter-spacing: -1px;
    }
}

.hero-subtitle {
    text-align: center;
    font-family: $header-font-family, sans-serif;
    font-size: $base-font-size * 1.3;
    line-height: 1.3em;
    font-style: italic;
}

.hero-frontpage-spacer {
    height: $spacing-unit * 5.0;
}

.work-detail-row {
    display: flex;
    height: $spacing-unit;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 0 !important;
}

.work-detail-label {
    font-family: 'Roboto Slab', sans-serif !important;
    font-size: 18px;
    line-height: $spacing-unit !important;
    font-weight: 700;
    width: $spacing-unit * 6.0;
    margin-bottom: 0 !important;
    margin-top: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.work-detail-item {
    margin-bottom: 0;
    font-family: 'Roboto Slab', sans-serif !important;
    font-size: 18px;
    line-height: $spacing-unit !important;
    margin-left: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.warnings-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    align-items: center;
    margin: 0;

    li {
        font-family: 'Roboto Slab', sans-serif;
        height: $spacing-unit;
        line-height: $spacing-unit !important;
        font-size: 18px;
    }

    li ~ li::before {
        content: ', '; 
    }
}

.tags-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;

    .work-detail-label {
        margin-bottom: 16px;
    }

    li {
        font-family: $header-font-family, sans-serif;
        height: $spacing-unit;
        line-height: $spacing-unit;
        background-color: $text-color;
        font-size: 18px;
        color: $background-color;
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 16px;
        
        &:not(:last-child) {
            margin-right: 10px;
        }
    }
}

.page-content {
    padding: $spacing-unit 0;
    margin-left: auto;
    margin-right: auto;

    p {
        @include media-query($on-palm) {
            font-size: 16px;
            line-height: 1.6;
        }
    }
}

.page-heading {
    max-width: 100%;
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 52ch;

    p {
        font-family: $works-font-family;
        font-size: $base-font-size;
        line-height: ($base-font-size) * 1.9;
        margin-top: 1.3em;
        margin-bottom: 1.3em;
        margin-left: auto;
        margin-right: auto;

        @include media-query($on-palm) {
            font-size: 16px;
            line-height: 1.6;
            max-width: 45ch;
        }
    }

    h1 {
        font-family: $header-font-family, sans-serif;
        font-size: 44px;
    }

    h2 {
        font-family: $header-font-family, sans-serif;
        font-size: 38px;

        @include media-query($on-laptop) {
            font-size: 38px;
        }
    }

    h3 {
        font-family: $header-font-family, sans-serif;
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-family: $header-font-family, sans-serif;
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
