<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      {{ content }}
    </div>

    <div class="section-divider"></div>
    <div class="vertical-spacer"></div>
    {% include footer.html %}

  </body>
  <script src="../scripts/script.js"></script>
</html>
