<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="wrapper">
      <header class="hero-header hero-frontpage">
          <h1 class="hero-title hero-frontpage-title">Canonicity</h1>
          <p class="hero-subtitle">Stories are greater than Property</p>
      </header>
      <div class="section-divider"></div>
      <div class="page-content">
        {{ content }}
      </div>
    </div>
    <div class="section-divider"></div>
    <div style="height: 32px;"></div>
    {% include footer.html %}

  <a rel="me" href="https://mastodon.canonicity.org/@ariadne"></a>
  <a rel="me" href="https://mastodon.canonicity.org/@sisyphus"></a>
  </body>
</html>
