---
layout: default
---
<article class="post">
  <div class="vertical-spacer"></div>
  <header class="hero-header">
    <div class="wrapper">
        <h1 class="hero-title">{{ page.title }}</h1>
    </div>
  </header>

  <div class="wrapper">
    {{ content }}
  </div>

</article>
