---
layout: default
---
{%- capture the_cat -%}{{page.categories | first}}{%- endcapture -%}
{%- assign sorted_posts = site.categories[the_cat] | sort: 'order' -%}
{% for index in site.categories.indices %}
 {% if index.work_category == the_cat and index.oneshot != true %}
  {% assign index_title = index.title %}
  {% assign index_url = index.url %}
 {% endif %}
{% endfor %}
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  {% assign wordCount = page.content | number_of_words %}
  <div class="wrapper">
  <div class="vertical-spacer"></div>
    <header class="post-header">
      <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
      <p class="post-meta" style="margin-bottom: 0;"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %} • <span>{{ wordCount }} words</span></p>
      {% if index_title %}
        <p class="post-meta">Part of <i><a href="{{ index_url }}">{{ index_title }}</a></i></p>
      {% endif %}
    </header>

    <div class="post-content" itemprop="articleBody">
      {{ content }}


      {%- for post in sorted_posts -%}
          {%- if post.url == page.url -%}

          {%- assign currIndex = forloop.index0 -%}
          {%- assign prevIndex = currIndex | minus: 1 -%}
          {%- assign nextIndex = currIndex | plus: 1 -%}
          {%- assign articleIndexLength = forloop.length | minus: 1 -%}

          {%- if currIndex == articleIndexLength -%}
              {%- assign prev_post = sorted_posts[prevIndex] -%}
          {%- endif -%}

          {%- if currIndex < articleIndexLength and currIndex != 0 -%}
              {%- assign prev_post = sorted_posts[prevIndex] -%}
              {%- assign next_post = sorted_posts[nextIndex] -%}
          {%- endif -%}

          {%- if currIndex == 0 -%}
              {%- assign next_post = sorted_posts[nextIndex] -%}
          {%- endif -%}

          {%- endif -%}
      {%- endfor -%}
      {% if sorted_posts.size > 1 %}
        <div class="vertical-spacer"></div>
      {% endif %}
      <div class="post-nav">
        <div class="previous-post">
          {% if prev_post and sorted_posts.size > 1 %}
            <p class="label">
              <svg class="nav-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 -4 24 24" width="18" height="18"><path fill="none" d="M0 0h24v24H0z"/><path d="M8 12l6-6v12z"/></svg>
              <small>Previous</small></p>
            <p class="previous-link"><a href="{{ prev_post.url }}">{{ prev_post.title }}</a></p>
          {% endif %}
        </div>
        <div class="next-post">
          {% if next_post %}
            <p class="label"><small>Next</small>
              <svg class="nav-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 -4 24 24" width="18" height="18"><path fill="none" d="M0 0h24v24H0z"/><path d="M16 12l-6 6V6z"/></svg>
            </p>
            <p class="next-link"><a href="{{ next_post.url }}">{{ next_post.title }}</a></p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

</article>
