---
layout: page
---
<article class="post">
  <div>
  {% assign post = page %}
  {% include work_info_card.html hideTitle='true' %}
  </div>
  <div class="page-content">
    {{ content }}
  </div>
  {% if page.work_category %}
    <div class="page-content" style="padding-top: 0;">
      {% assign sortedPosts = site.categories[page.work_category] | sort: 'order' %}
      <h2 style="font-size: 38px;">Chapters</h2>
      <ul class="chapter-list">
      {% for post in sortedPosts %}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
      </ul>
    </div>
  {% endif %}
</article>